@font-face {
  font-family: VarelaRound;
  src: url("../fonts/VarelaRound-Regular.ttf") format("opentype");
}

body {
  padding: 30px;
}

h1, a, p, span {
  font-family: VarelaRound;
  color: white;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: visibility 0s .1s linear , opacity .1s ease-in, transform .1s ease-in;
}

.bg-black {
  background-color: #0C0B10;
}

.color-black {
  color: #0C0B10;
}

.bg-green {
  background-color: #04C0A9;
}

.color-green {
  color: #04C0A9;
}

.bg-salmon {
  background-color: #F07769;
}

.color-salmon {
  color: #F07769;
}