section {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 250px - 16px - 200px);
  min-width: 400px;

  background-color: #161522;
  padding: 40px 100px;
  overflow-y: scroll;
}

section.is-shown {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

section h1,
section p {
  text-align: left;

}

.pretty-button {
  padding: 25px 50px;
  border-width: 0px;
  border-radius: 10px;
  color: white;
  margin-right: 25px;
}

.pretty-button:hover {
  cursor: pointer;
}

/* SEARCH SECTION */
.filter-wrapper {
  padding: 30px;
  background-color: #202231;
  border-radius: 10px;
  margin: 35px 0px;
}

input.location-input {
  background-color: #161522;
  color: #E3E3E3;
  height: 30px;
  border-radius: 5px;
  border-width: 0px;
  margin: 5px 0px;
  padding-left: 7px;
  width: 50%;
}

button.location-input-button {
  color: #7F7F7F;
  height: 30px;
  background-color: transparent;
  border-width: 0;
}

button.only-text {
  background-color: transparent;
  border-width: 0px;
  padding: 5px;
}

button.gray-button {
  color: #7F7F7F;
}

button.pink-button {
  color: #F139C3;
}

.bg-space-gradient {
  background: linear-gradient(90deg, #0C93EC, #8567D8,#F139C3);
}

.border-space-gradient {
  border: 2px solid transparent;
  background: linear-gradient(90deg, #202231, #202231) padding-box, /* this is the background gradient */
    linear-gradient(90deg, #0C93EC, #8567D8,#F139C3) border-box; /* this is the border gradient */
}

.border-space-gradient.inactive {
  opacity: 0.3;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #202231, #202231) padding-box, /* this is the background gradient */
    linear-gradient(90deg, #202231, #202231) border-box; /* this is the border gradient */
}

.result-wrapper {
  margin-top: 40px;
  flex-direction: row;
  display: inline;
  flex-wrap: wrap;
}

.found-wallet-wrapper {
  padding: 0px;
  background-color: #202231;
  border-radius: 10px;
  margin: 10px;
  height: 180px;
  position: relative;
}

.found-wallet-wrapper:hover {
  cursor: pointer;
}

.found-wallet-icon {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.found-wallet-wrapper p {
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
}

p.found-wallet-title {
  position: absolute;
  bottom: 90px;
  left: 180px;
  right: calc(160px + 40px);
  font-size: 30px;
  vertical-align: top;
}

p.found-wallet-location {
  position: absolute;
  top: 100px;
  left: 180px;
  right: calc(160px + 40px);
  font-size: 18px;
  color: #E3E3E3;
}

p.found-wallet-button {
  position: absolute;
  top: 40px;
  bottom: 40px;
  right: 40px;
  width: 160px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  line-height: calc(180px - 80px);
}

/* LOGS SECTION */