section {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;

  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  width: calc(100% - 380px - 16px - 200px);
  min-width: 400px;

  background-color: #232228;
  border-radius: 68px;
  padding: 40px 100px;
  overflow-y: scroll;
}

section.is-shown {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

section h1,
section p {
  text-align: left;

}

.pretty-button {
  padding: 25px 50px;
  border-width: 0px;
  border-radius: 19px;
  color: white;
  margin-right: 25px;
}

.pretty-button:hover {
  cursor: pointer;
}

/* SEARCH SECTION */
.filter-wrapper {
  padding: 50px 30px;
  box-shadow: 30px 50px 50px 0px #131217;
  background-color: #1B1A1F;
  border: 1px solid transparent;
  border-radius:28px;
  margin: 35px 0px;
}

.filter-wrapper.yellow {
  background: linear-gradient(135deg, #493A24, #1B1A1F,#1B1A1F,#1B1A1F) padding-box, /* this is the background gradient */
    linear-gradient(135deg, #FFBA50, #1B1A1F,#1B1A1F,#1B1A1F) border-box; /* this is the border gradient */
}

.filter-wrapper.green {
  background: linear-gradient(135deg, #184345, #1B1A1F,#1B1A1F,#1B1A1F) padding-box, /* this is the background gradient */
    linear-gradient(135deg, #04C0A9, #1B1A1F,#1B1A1F,#1B1A1F) border-box; /* this is the border gradient */
}

.result-wrapper {
  margin-top: 40px;
  max-height: 400px;
}

.result-wrapper p {
  text-align: left;
  font-size: 12px;
}

.result-wrapper p.positive-text {
  color: #0EB777
}

/* LOGS SECTION */