body {
  background-color: #3a3a3a;
  padding: 30px;
}


h1, a, p, span {
  color: white;
  text-align: center;
}

form {
  text-align: center;
}

.result-wrapper {
  padding: 20px;
  border-radius: 7px;
  border: solid 1px gray;
  margin-top: 40px;
  background-color: #292929 ;
  overflow-y: scroll;
  max-height: 400px;
}

.result-wrapper p {
  text-align: left;
  font-size: 12px;
}